.sizes {
    .p-inputtext {
        display: block;
        margin-bottom: .5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.p-field * {
    display: block;
}

button.link {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

button.link:hover {
    text-decoration: underline;
}
