<div class="card">
    <p-splitter [style]="{'height': '200px', 'width': '900px', 'margin':'0 auto'}" [panelSizes]="[20,80]"
        [minSizes]="[10,0]" styleClass="mt-5 mb-5" *ngFor="let deal of deals">
        <ng-template pTemplate>
            <div class="p-col p-d-flex p-ai-center p-jc-center">
                Photo
            </div>
        </ng-template>
        <ng-template pTemplate>
            <p-splitter layout="vertical" [panelSizes]="[15,85]">
                <ng-template pTemplate>
                    <div style="flex-grow: 1;" class="p-d-flex p-ai-center p-jc-center">
                        <button class="link"
                            style="font-family:georgia,serif;font-size:16px;font-weight:bold;text-align:left;"
                            (click)="edit(deal)">{{deal.title}}</button>
                        <p style="font-family:georgia,serif;font-size:16px;font-weight:bold;color:red;">
                            {{deal.price}} € <a href="{{deal.link}}" style="text-decoration:none" target="_blank">
                                <span class="underline-on-hover">lien</span></a>
                        </p>
                        <p style="font-family:georgia,serif;font-size:16px;">
                            {{deal.description}}
                        </p>
                        <p style="font-family:georgia,serif;font-size:16px;font-weight:bold;text-align:left;">
                            {{deal.author}}
                        </p>
                    </div>
                </ng-template>
                <!-- <ng-template pTemplate>
                    <p-splitter [panelSizes]="[20,80]">
                        <ng-template pTemplate>
                            <div class="p-col p-d-flex p-ai-center p-jc-center">
                                Panel 3
                            </div>
                        </ng-template>
                        <ng-template pTemplate>
                            <div class="p-col p-d-flex p-ai-center p-jc-center">
                                Panel 4
                            </div>
                        </ng-template>
                    </p-splitter>
                </ng-template> -->
            </p-splitter>
        </ng-template>
    </p-splitter>
</div>