<p-card>
    <div class="p-card-header">
        <h2>Dealabs</h2>
    </div>
    <div class="p-card-content">
        <div id="actionButtons" class="mb-3">
            <button pButton pRipple type="button" label="add" class="p-button-raised"
                routerLink="/deal-create"></button>
        </div>
        <div id="table">
            <p-table [columns]="cols" [value]="virtualDeals" [scrollable]="true" [rows]="100" scrollHeight="250px"
                [virtualScroll]="true" [virtualRowHeight]="34" [lazy]="true" (onLazyLoad)="loadDealsLazy($event)"
                [resizableColumns]="true" [autoLayout]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr style="height:34px">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-search"
                                class="p-button-rounded p-button-success p-button-text p-button-color"
                                (click)="edit(rowData)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody" let-columns="columns">
                    <tr style="height:34px">
                        <td *ngFor="let col of columns">
                            <div class="loading-text"></div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-card>