<p-panel>
    <p-toast></p-toast>
    <ng-template pTemplate="header">
        <div class="col-sm-9">{{ deal.title }}</div>
    </ng-template>
    <div class="p-panel-content">

        <div class="row mb-3">
            <div class="col-sm-3"><strong>Description</strong></div>
            <div class="col-sm-9">{{ deal.description }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3"><strong>Price</strong></div>
            <div class="col-sm-9">{{ deal.price }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3"><strong>ShippingFees</strong></div>
            <div class="col-sm-9">{{ deal.shippingFees }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3"><strong>Link</strong></div>
            <div class="col-sm-9">{{ deal.link }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3"><strong>StartingDate</strong></div>
            <div class="col-sm-9">{{ deal.startingDate }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3"><strong>EndingDate</strong></div>
            <div class="col-sm-9">{{ deal.endingDate }}</div>
        </div>
    </div>


    <app-deal-comment [idDeal]="id"></app-deal-comment>


    <ng-template pTemplate="footer">
        <button pButton type="button" label="back to list" class="p-button-raised p-button-rounded"
            routerLink="/deal-list"></button>
    </ng-template>

</p-panel>